name: Tests
on: [push]

jobs:
  node:
    strategy:
      fail-fast: false
      matrix:
        os:
          #- ubuntu-20.04
          #- macos-10.15
          #- windows-2019
        node_version:
          #- '12'
          #- '14'
          #- '16'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install packages
        run: yarn install
      - name: Tests on ${{ matrix.os }} with Node ${{ matrix.node_version }}
        run: yarn test
  coverage:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - name: Install packages
        run: yarn install
      - name: Run flow
        run: yarn flow
      - name: Run eslint
        run: yarn lint:js
      - name: Run coverage
        run: yarn coverage
